@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.font-fam{
  font-family: 'Playfair Display', serif;
}

 

.spa{
  margin-left: 5em;
}

.padd{
    margin-top: 7em;
  }
  .paddd{
    margin-top: 7em;
    margin-left: 7em;
  }
  .padda{
    
    margin-left: 7em;
     margin-top: 7em;
  }
  .pdd {
  margin-left: 40%;
  }

  .pdin{
      margin-top: 5em;  
  }
  .nav-item:hover{
    text-decoration: 4px rgb(2, 82, 71) underline;
    color: white;
    border-radius: 2em;
  
  }

  .hov{
   margin-right: 10em;
   color: #10746f;
  }
  .hovereffect {
    width:90%;
    height:90%;
    border-radius: 2em;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    }
    
    .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:#089773e3;
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    .hovereffect img {
    display:block;
    position:relative;
    /* border-radius: 2em; */
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }
    
    .hovereffect h2 {
    text-transform:uppercase;
    color:rgb(255, 255, 255);
    font-size: 50px;
    text-align:center;
    position:relative;
    /* font-size:17px; */
    /* background: #000000; */
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);   
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    }
    .hovereffect a{
      text-decoration: none;
      color:white;
      font-size: 20px;
    }
    
    .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
    }
    
    .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    }
    
    .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }
    
    .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
    
    .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }
  
  .active{
    background-color: #0d524c;
    color: white;
    border-radius: 10px;
  }
  
  .bcc{
  border-radius: 10px;
    color: #fff;
  }
  label {
    display: block;
    position: relative;
    margin: 40px 0px;
  }
  .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    
    transition: ease .3s;
  }
  .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
  }
  
  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #104440d5;
    transition: ease .6s;
  }
  
  .input:focus + .line-box .line {
    width: 100%;
  }
  
  .label-active {
    top: -3em;
  }
  
  button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  }
  
  button:hover {
    background: #1d5c54;
    color: #ffffff;
  }



  
  
 