<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>addcourse</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/form.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

            <link rel="stylesheet" href="/css/style.css">
            
            <link rel="stylesheet" href="/css/style2.css">
            <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
            <link th:href="@{/css/nav.css}" rel="stylesheet" />
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
            <script th:src="@{/js/bootstrap.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>




  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="images/home.svg" alt="logo" width="150" height="100" class="d-inline-block align-text-top" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse pdd" id="navbarNavAltMarkup">
      <div class="navbar-nav pad fs-5">
        <a class="nav-item nav-link navs fs-5" href="/Home">Home</a>
        <a class="nav-item nav-link navs fs-5 active" href="adminCourseView">Courses</a>
        <a class="nav-item nav-link navs fs-5" href="/images">Advisors</a>
        <a class="nav-item nav-link navs fs-5" href="/noticeView">Notice</a>
        <a class="nav-item nav-link navs fs-5" href="/archiveView2">Archive</a>
        <a class="nav-item nav-link navs fs-5" href="/logout">logout</a>
  
      </div>
    </div>
  </nav>



<body>
<section class="get-in-touch">
  <h1 class="title">Add course</h1>
  
  <form class="contact-form row" th:action="@{/saveCourse}" th:object="${course}" method="POST">
    <div class="form-field col-lg-6">

      <input type="text" class="input-text js-input" id="title" name="title" required="required"
        th:field="${course.titlee}">
      <label class="label" for="title">Title</label>
      <p id="error_name"></p>
    </div>



    <div class="form-field col-lg-6 ">
      <input type="text" class="input-text js-input" id="Credit_Hour" name="Credit_Hour" required="required"
        th:field="${course.creditHourr}">
      <label class="label" for="description">Credit_Hour</label>
      <p id="error_name"></p>
    </div>




    <div class="form-field col-lg-12">
      <input type="text" class="input-text js-input" id="ECTSs" name="ECTSs" required="required"
        th:field="${course.ECTSs}">
      <label class="label" for="content">ECTS</label>
      <p id="error_name"></p>
    </div>


    <div class="form-field col-lg-12">
      <input type="submit" id="submit" class="btn btn-primary submit-btn" value="add">
    </div>

</form>
</section>
<!--     
    <div id="success" class="text-center" style="color:green;"></div>
    <div id="error" class="text-center" style="color:red;"></div> -->
<!-- 
    <div class="container text-center">
      <h1>admin/add courses</h1>
      <div>
        <form
      th:action="@{/saveCourse}"
      th:object="${course}"
      method="POST"
      style="max-width: 550px; margin: 0 auto" 
    >

       <div class="m-3">
        <div class="form-group row">
          <label class="col-form-label col-4">Title</label>
          <div>
            <input
              type="text"
              class="form-control"
              th:field="${course.titlee}"
            />
          </div>
        </div>
      </div>


      <div class="m-3">
        <div class="form-group row">
          <label class="col-form-label col-4">Credit_Hour</label>
          <div>
            <input type="text" 
            class="form-control"
            th:field="${course.creditHourr}" 
             />
          </div>
        </div>
      </div>


      <div class="m-3">
        <div class="form-group row">
          <label class="col-form-label col-4">ECTS</label>
          <div>
            <input type="text" 
            class="form-control" 
            th:field="${course.ECTSs}"/>
          </div>
        </div>
      </div> -->


      <!-- <div>
        <button type="submit" class="btn btn-primary" value="add">Add course</button>
      </div> -->
  <!-- </form> 
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script> -->



<br><br>
        <footer class="bg-dark text-center text-white">
          <div class="container p-4 pb-0">
            <section class="mb-4">
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
                aria-label="first link"><i class="fab fa-facebook-f"></i></a>
        
              <a class="btn btn-outline-light btn-floating m-1" href="twitter" role="button" aria-label="second link"><i
                  class="fab fa-twitter"></i></a>
        
              <a class="btn btn-outline-light btn-floating m-1" href="/instagram" role="button" aria-label="third link"><i
                  class="fab fa-instagram"></i></a>
        
              <a class="btn btn-outline-light btn-floating m-1" href="/linked in" role="button" aria-label="fourth link"><i
                  class="fab fa-linkedin-in"></i></a>
        
              <a class="btn btn-outline-light btn-floating m-1" href="github" role="button" aria-label="fifth link"><i
                  class="fab fa-github"></i></a>
            </section>
          </div>
        
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">AAiTIMS.com</a>
          </div>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
        </footer>
  </body>
</html>






